fastapi
uvicorn[standard]
gunicorn
python-dotenv
openai
pydantic
pydantic-settings
httpx
python-multipart
slack-sdk
jira
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
numpy
pandas
pyjwt
slowapi

supabase
